
   
$primary_color:  #0B3B3C;

$primary_background: #A0B29A;
$primary_background_light: #FFFFFF;
$footer_background: #E8EFE9;

$text_primary: #0c3c3d;
$text_light: rgba(108, 108, 108, 0.5);

$gray: #eeeeee;

$success: #4CAF50;
$error: #FF5722;